* {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

/* --------------- */
html:focus-within {
	scroll-behavior: smooth;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

/* text-rendering: optimizeSpeed; */
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	text-rendering: optimizeSpeed;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
	-webkit-tap-highlight-color: transparent;
}

/* selrct */
input, button, textarea, select {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button, input {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* --------- */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* ----------- */
img, picture {
	max-width: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}



/* ---------------------------- */
@media(prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-direction: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}